@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/*---main-size---*/
/*---body---*/
/*---header---*/
/*---main-colors---*/
/*---header---*/
.main .main__middle-top, .main__top, .main, .header__bottom-items .header__bottom-item, .header__bottom-items, .header__main-left .play-video, .header__main, .header__top .header__profile .header__user-menu, .header__top .header__profile, .header__top .header__menu, .header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .main__middle-top-h1, .main__top-desc-h1 {
  font-weight: 900;
  font-size: 46px;
  color: #1E212C;
  line-height: 130%;
}

.main .main__middle-top-h2, .main__top-desc-h2 {
  font-weight: 700;
  font-size: 16px;
  color: #1E212C;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.main__top-desc .main__top-desc-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}

.main .main__middle-grid .card-link .card-content .badge {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: rgb(255, 255, 255);
}

/*---main-size---*/
/*---body---*/
/*---header---*/
/*---main-colors---*/
/*---header---*/
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*---header-----------------*/
/*---main-colors---*/
/*---header---*/
/*---main-size---*/
/*---body---*/
/*---header---*/
/*---main-colors---*/
/*---header---*/
.main .main__middle-top, .main__top, .main, .header__bottom-items .header__bottom-item, .header__bottom-items, .header__main-left .play-video, .header__main, .header__top .header__profile .header__user-menu, .header__top .header__profile, .header__top .header__menu, .header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .main__middle-top-h1, .main__top-desc-h1 {
  font-weight: 900;
  font-size: 46px;
  color: #1E212C;
  line-height: 130%;
}

.main .main__middle-top-h2, .main__top-desc-h2 {
  font-weight: 700;
  font-size: 16px;
  color: #1E212C;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.main__top-desc .main__top-desc-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}

.main .main__middle-grid .card-link .card-content .badge {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: rgb(255, 255, 255);
}

/*---main-colors---*/
/*---header---*/
.header__top {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}
.header__top .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__top .header__logo picture {
  width: 130px;
  height: 22px;
}
.header__top .header__burger {
  position: absolute;
  top: -95rem;
  left: -1rem;
  right: -1rem;
  background-color: #fff;
}
.header__top .header__burger .burger__menu {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__top .header__burger .burger__menu .burger__item {
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.header__top .header__burger .burger__menu .burger__item:nth-child(1) {
  margin-top: 20px;
}
.header__top .header__burger .burger__menu .burger__item:hover {
  opacity: 0.6;
}
.header__top .header__burger .burger__menu .burger__item .burger__link {
  color: #424551;
}
.header__top .header__menu .menu__item {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  margin-right: 40px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
}
.header__top .header__menu .menu__item:nth-last-child(1) {
  margin-right: 0;
}
.header__top .header__menu .menu__item:hover {
  opacity: 0.6;
}
.header__top .header__menu .menu__item .menu__link {
  color: #424551;
}
.header__top .header__profile {
  max-width: 386px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__top .header__profile .main__btn {
  margin-right: 36px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.header__top .header__profile .main__btn:hover {
  opacity: 0.8;
}
.header__top .header__profile .header__user-menu {
  max-width: 144px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
}
.header__top .header__profile .header__user-menu .user-menu__sign-in {
  color: #424551;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.header__top .header__profile .header__user-menu .user-menu__sign-in:hover {
  opacity: 0.6;
}
.header__top .header__profile .header__user-menu .user-menu__sign-up {
  position: relative;
  color: #424551;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.header__top .header__profile .header__user-menu .user-menu__sign-up:hover {
  opacity: 0.6;
}

/*---main-colors---*/
/*---header---*/
/*---main-size---*/
/*---body---*/
/*---header---*/
@media (max-width: 1200px) {
  .header__top .header__menu .menu__item {
    font-size: 14px;
  }
  .header__top .header__profile {
    max-width: 80%;
  }
  .header__top .header__profile .main__btn {
    margin-right: 10px;
  }
  .header__top .header__profile .header__user-menu {
    font-size: 14px;
  }

  .header__main-left .play-video {
    margin: 0 auto;
  }
  .header__main-left .play-video__desc {
    display: none;
  }
  .header__main-left .main-left-title-text {
    font-size: 56px;
  }
  .header__main-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__main-right svg {
    width: 90%;
    height: 100%;
  }

  .header__bottom-items .header__bottom-item::before {
    display: none;
  }

  .main .main__top {
    gap: 0;
  }
  .main .main__top-img {
    position: relative;
    top: 2rem;
    width: 90%;
  }
}
@media (max-width: 992px) {
  .header__top {
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .header__top .header__burger-lines {
    cursor: pointer;
    z-index: 15;
    position: relative;
    width: 50px;
    height: 30px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .header__top .header__burger-lines:hover {
    opacity: 0.6;
  }
  .header__top .header__burger-lines .line {
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #F75E05;
  }
  .header__top .header__burger-lines .line::before {
    position: absolute;
    top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #F75E05;
  }
  .header__top .header__burger-lines .line::after {
    position: absolute;
    bottom: -1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #F75E05;
  }
  .header__top .active {
    top: 6rem;
    z-index: 10;
    opacity: 0.97;
  }
  .header__top .header__burger {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    left: -1rem;
    right: -1rem;
    height: 50vh;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
  }
  .header__top .header__burger .burger__menu .burger__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__top .header__burger .burger__menu .burger__item:nth-child(1) {
    margin-top: 20px;
  }
  .header__top .header__burger .burger__menu .burger__item:hover {
    opacity: 0.6;
  }
  .header__top .header__burger .burger__menu .burger__item .burger__link {
    color: #424551;
  }
  .header__top .header__logo {
    max-width: 104px;
  }
  .header__top .header__logo picture img {
    max-width: 100%;
  }
  .header__top .header__menu .menu__item {
    display: none;
  }

  .header__main-left .main-left-title-text {
    font-size: 45px;
  }
  .header__main-left .main-left-btns .main-left-btn {
    width: 1rem;
    margin-bottom: 10px;
  }

  .main .main__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .main__middle .main__middle-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .main .main__middle .main__middle-grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .header__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__main-left {
    margin-bottom: 1rem;
  }
  .header__main-left .play-video {
    opacity: 0;
  }

  .header__bottom-items {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 576px) {
  .header__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__top .header__profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 10px;
    opacity: 0;
    -webkit-transform: translateY(-10rem);
        -ms-transform: translateY(-10rem);
            transform: translateY(-10rem);
  }
  .header__top .active {
    top: 7rem;
  }

  .header__bottom-items {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
body {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-style: normal;
  line-height: 1.5;
}

.header {
  background: url(../img/header-bg.jpg);
  max-width: 1920px;
  margin: 0 auto;
}

.header__main {
  padding-top: 128px;
  max-width: 1920px;
  margin: 0 auto;
}
.header__main-left .play-video {
  max-width: 175px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 24px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.header__main-left .play-video:hover {
  opacity: 0.6;
  cursor: pointer;
}
.header__main-left .main-left-title {
  max-width: 496px;
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  color: #1E212C;
  margin-bottom: 60px;
}
.header__main-left .main-left-btns {
  max-width: 377px;
}
.header__main-left .main-left-btns .main-left-btn {
  background-color: transparent;
  border: 1px solid rgb(255, 63, 58);
  color: rgb(255, 63, 58);
  border-radius: 4px;
  padding: 0px 40px;
  width: 148px;
  height: 52px;
  margin-right: 24px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.header__main-left .main-left-btns .main-left-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}
.header__main-left .main-left-btns .main-left-btn-primary {
  width: 200px;
}

.header__bottom {
  max-width: 1163px;
  padding-top: 189px;
  padding-bottom: 80px;
}
.header__bottom-items {
  margin: 0 auto;
}
.header__bottom-items .header__bottom-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
.header__bottom-items .header__bottom-item:nth-child(n+2):nth-child(-n+4)::before {
  content: "";
  position: absolute;
  left: -66px;
  width: 8px;
  height: 8px;
  background-image: url(../img/header-ellipse.svg);
}
.header__bottom-items .header__bottom-item-num {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  margin-right: 12px;
  color: #1E212C;
}

/*---main-size---*/
/*---body---*/
/*---header---*/
/*---main-colors---*/
/*---header---*/
.main .main__middle-top, .main__top, .main, .header__top, .header__top .header__menu, .header__top .header__profile, .header__top .header__profile .header__user-menu, .header__main, .header__main-left .play-video, .header__bottom-items, .header__bottom-items .header__bottom-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .main__middle-top-h1, .main__top-desc-h1 {
  font-weight: 900;
  font-size: 46px;
  color: #1E212C;
  line-height: 130%;
}

.main .main__middle-top-h2, .main__top-desc-h2 {
  font-weight: 700;
  font-size: 16px;
  color: #1E212C;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.main__top-desc .main__top-desc-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}

.main .main__middle-grid .card-link .card-content .badge {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: rgb(255, 255, 255);
}

.svg1 {
  position: absolute;
  left: 15px;
  top: 190px;
  z-index: -10;
}

.svg2 {
  position: absolute;
  right: 15px;
  top: 450px;
  z-index: -10;
}

.main {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.main__top {
  margin: 180px auto;
  gap: 135px;
}
.main__top-svg2 {
  position: absolute;
  right: 0;
}
.main__top-img {
  max-width: 705px;
}
.main__top-desc {
  max-width: 390px;
}
.main__top-desc-h2 {
  margin-bottom: 8px;
}
.main__top-desc-h1 {
  margin-bottom: 40px;
}
.main__top-desc .main__top-desc-items {
  margin-bottom: 22px;
}
.main__top-desc .main__top-desc-item {
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding-left: 32px;
}
.main__top-desc .main__top-desc-item:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  background-image: url(../img/main-top-check.svg);
}
.main .main__middle {
  margin-bottom: 180px;
}
.main .main__middle-top {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 60px;
}
.main .main__middle-top-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  color: #F75E05;
  border: #F75E05 1px solid;
  border-radius: 4px;
  background-color: transparent;
  padding: 0 40px;
  height: 52px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.main .main__middle-top-btn:hover {
  opacity: 0.6;
}
.main .main__middle-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}
.main .main__middle-grid .card-link .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 32px;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  border: 1px solid #E5E8ED;
  background-color: rgb(255, 255, 255);
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
}
.main .main__middle-grid .card-link .card:hover {
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}
.main .main__middle-grid .card-link .card-content {
  max-width: 322px;
  margin-top: 32px;
}
.main .main__middle-grid .card-link .card-content .badge {
  border-radius: 4px;
  text-align: center;
  padding: 1px 7px;
  margin-bottom: 20px;
}
.main .main__middle-grid .card-link .card-content .item-name {
  color: #1E212C;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 20px;
}
.main .main__middle-grid .card-link .card-content .card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.main .main__middle-grid .card-link .card-content .card-bottom .price {
  margin-right: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #ff4242;
}
.main .main__middle-grid .card-link .card-content .card-bottom .speaker {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #787A80;
}
.main .main__middle-grid .badge-marketing {
  max-width: 79px;
  background-color: #03CEA4;
}
.main .main__middle-grid .badge-management {
  max-width: 97px;
  background-color: #5A87FC;
}
.main .main__middle-grid .badge-hr {
  max-width: 112px;
  background-color: #F89828;
}
.main .main__middle-grid .badge-design {
  max-width: 59px;
  background-color: #F52F6E;
}

.footer {
  background-color: rgb(117, 110, 110);
}

.footer__title {
  color: yellow;
}

/*---main-colors---*/
/*---header---*/
/*---main-size---*/
/*---body---*/
/*---header---*/
.btn-primary {
  max-width: 206px;
  height: 52px;
  padding: 0px 40px;
  border-radius: 4px;
  background: -o-linear-gradient(34.05deg, #FF3F3A 0%, #F75E05 100%);
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  color: rgb(255, 255, 255);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.btn-primary:hover {
  opacity: 0.6;
  cursor: pointer;
}
