@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.header__bottom-items .header__bottom-item, .header__bottom-items, .header__main-left .play-video, .header__main, .header__top .header__profile .header__user-menu, .header__top .header__profile, .header__top .header__menu, .header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*---main-size---*/
/*---body---*/
/*---header---*/
.container {
  max-width: 1230px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*---header-----------------*/
/*---main-colors---*/
/*---header---*/
.header__bottom-items .header__bottom-item, .header__bottom-items, .header__main-left .play-video, .header__main, .header__top .header__profile .header__user-menu, .header__top .header__profile, .header__top .header__menu, .header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*---main-colors---*/
/*---header---*/
.header__top {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}
.header__top .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__top .header__logo picture {
  width: 130px;
  height: 22px;
}
.header__top .header__menu .menu__item {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  margin-right: 40px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
}
.header__top .header__menu .menu__item:nth-last-child(1) {
  margin-right: 0;
}
.header__top .header__menu .menu__item:hover {
  opacity: 0.6;
}
.header__top .header__menu .menu__item .menu__link {
  color: #424551;
}
.header__top .main__btn {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.header__top .main__btn:hover {
  opacity: 0.8;
}
.header__top .header__profile {
  max-width: 386px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__top .header__profile .main__btn {
  margin-right: 36px;
}
.header__top .header__profile .header__user-menu {
  width: 144px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
}
.header__top .header__profile .header__user-menu::before {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url(../img/user_menu-Profile.svg);
}
.header__top .header__profile .header__user-menu::after {
  content: "/";
  position: absolute;
  left: 74px;
  top: 0;
  width: 20px;
  height: 20px;
}
.header__top .header__profile .header__user-menu .user-menu__sign-in {
  padding-left: 28px;
  color: #424551;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.header__top .header__profile .header__user-menu .user-menu__sign-in:hover {
  opacity: 0.6;
}
.header__top .header__profile .header__user-menu .user-menu__sign-up {
  position: relative;
  color: #424551;
  padding-left: 10px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.header__top .header__profile .header__user-menu .user-menu__sign-up:hover {
  opacity: 0.6;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-style: normal;
  line-height: 1.5;
}

.header {
  background: url(../img/header-bg.jpg);
  max-width: 1920px;
  margin: 0 auto;
}

.header__main {
  padding-top: 128px;
  max-width: 1920px;
  margin: 0 auto;
}
.header__main-left .play-video {
  width: 172px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 24px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.header__main-left .play-video:hover {
  opacity: 0.6;
  cursor: pointer;
}
.header__main-left .main-left-title {
  max-width: 496px;
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  color: #1E212C;
  margin-bottom: 60px;
}
.header__main-left .main-left-btns {
  max-width: 377px;
}
.header__main-left .main-left-btns .main-left-btn {
  background-color: transparent;
  border: 1px solid rgb(255, 63, 58);
  color: rgb(255, 63, 58);
  border-radius: 4px;
  padding: 0px 40px;
  width: 148px;
  height: 52px;
  margin-right: 24px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.header__main-left .main-left-btns .main-left-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}
.header__main-left .main-left-btns .main-left-btn-primary {
  width: 200px;
}
.header__bottom {
  max-width: 1163px;
  padding-top: 189px;
  padding-bottom: 80px;
}
.header__bottom-items {
  margin: 0 auto;
}
.header__bottom-items .header__bottom-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
.header__bottom-items .header__bottom-item:nth-child(n+2):nth-child(-n+4)::before {
  content: "";
  position: absolute;
  left: -66px;
  width: 8px;
  height: 8px;
  background-image: url(../img/header-ellipse.svg);
}
.header__bottom-items .header__bottom-item-num {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  margin-right: 12px;
  color: #1E212C;
}

.footer {
  background-color: rgb(117, 110, 110);
}

.footer__title {
  color: yellow;
}

/*---main-colors---*/
/*---header---*/
/*---main-size---*/
/*---body---*/
/*---header---*/
.btn-primary {
  width: 206px;
  height: 52px;
  padding: 0px 40px;
  border-radius: 4px;
  background: -o-linear-gradient(34.05deg, #FF3F3A 0%, #F75E05 100%);
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  color: rgb(255, 255, 255);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.btn-primary:hover {
  opacity: 0.6;
  cursor: pointer;
}