@import "block/colors";
@import "block/size";

// default
// @media (max-width: 1200px){} // xl
// @media (max-width: 992px){} // lg
// @media (max-width: 768px){} // md
// @media (max-width: 480px){} // sm
$xs: 425px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// $xl: 1200px;
@media (max-width: $xl) {

  //header
  .header__top {
    .header__menu {
      .menu__item {
        font-size: $fz-lg-item;
      }
    }

    .header__profile {
      max-width: 80%;

      .main__btn {
        margin-right: 10px;
      }

      .header__user-menu {
        font-size: $fz-lg-item;
      }
    }
  }

  .header__main {
    &-left {
      .play-video {
        margin: 0 auto;

        &__desc {
          display: none;
        }
      }

      .main-left-title {
        &-text {
          font-size: 56px;
        }
      }
    }

    &-right {
      display: flex;
      justify-content: flex-end;

      svg {
        width: 90%;
        height: 100%;
      }
    }
  }

  .header__bottom {
    &-items {
      .header__bottom-item {
        &::before {
          display: none;
        }
      }
    }
  }

  //main
  .main {
    .main__top {
      gap: 0;

      &-img {
        position: relative;
        top: 2rem;
        width: 90%;
      }
    }
  }
}

// $lg: 992px;
@media (max-width: $lg) {

  //header
  .header__top {
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: all 1s;

    .header__burger-lines {
      cursor: pointer;
      z-index: 15;
      position: relative;
      width: 50px;
      height: 30px;
      // background-color: $white;
      transition: all 1s;

      &:hover {
        opacity: 0.6;
      }

      .line {
        position: absolute;
        width: 50px;
        height: 3px;
        background-color: $burger;

        &::before {
          position: absolute;
          // margin-top: 5px;
          top: 2rem;
          display: flex;
          content: "";
          // top: 0;
          width: 100%;
          height: 3px;
          background-color: $burger;
        }

        &::after {
          position: absolute;
          bottom: -1rem;
          display: flex;
          // bottom: 0;
          content: "";
          width: 100%;
          height: 3px;
          background-color: $burger;
        }
      }
    }

    .active {
      top: 6rem;
      z-index: 10;
      opacity: 0.97;
    }

    .header__burger {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      left: -1rem;
      right: -1rem;
      height: 50vh;
      transition: 1s all;

      .burger__menu {
        .burger__item {
          display: flex;
          justify-content: center;

          &:nth-child(1) {
            margin-top: 20px;
          }

          &:hover {
            opacity: 0.6;
          }

          .burger__link {
            color: $header-menu;
          }
        }
      }
    }

    .header__logo {
      max-width: 104px;

      picture {
        img {
          max-width: 100%;
        }
      }
    }

    .header__menu {
      .menu__item {
        display: none;
      }
    }
  }

  .header__main {
    &-left {
      .main-left-title {
        &-text {
          font-size: 45px;
        }
      }

      .main-left-btns {
        .main-left-btn {
          width: 1rem;
          margin-bottom: 10px;
        }
      }
    }
  }

  //main
  .main {
    .main__top {
      flex-direction: column;
    }

    .main__middle {
      .main__middle-top {
        flex-direction: column;
        align-items: start;
      }

      .main__middle-grid {
        grid-template-columns: 1fr;
      }
    }

    // main__bottom 
    .main__bottom {
      .main__bottom-tabs {
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        .main__bottom-tab {
          width: 100%;
        }
      }

    }
  }

  //events
  .events {
    .container{
      .events__list-item{
        grid-template-columns: repeat(1,1fr);
        &-num{
          font-size: 75px;
        }
        &-data, &-info{
          text-align: center;
        }
        &-data{
          .events__list-item-month{
            font-size: 50px;
          }
          .events__list-item-time{
            font-size: 20px;
          }

        }
        &-info{
          .events__list-item-title{
            font-size: 25px;
          }
          .events__list-item-text{
            font-size: 20px;
          }
        }
      }
    }
  }

}



// $md: 768px;
@media (max-width: $md) {
  //header
  .header__main {
    flex-direction: column;

    &-left {
      margin-bottom: 1rem;

      .play-video {
        opacity: 0;
      }
    }
  }

  .header__bottom {
    &-items {
      align-items: center;
      flex-direction: column;
    }
  }

  //main

  //main__top
  .main__top{
    .main__top-img{
      max-width: 700px;
      margin-bottom: 4rem;
    }
  }

  // main__bottom 
  .main__bottom {

    .main__bottom-desc {
      display: flex;
      flex-direction: column;
    }

    .main__bottom-desc-box {
      margin-bottom: 1rem;
    }
    svg{
      max-width: 300px;
    }
  }
}

// $sm: 576px;
@media (max-width: $sm) {

  
  //header
  .header__top {
    flex-wrap: wrap;

    .header__profile {
      flex-direction: column;
      width: 10px;
      opacity: 0;
      transform: translateY(-10rem);
    }

    .active {
      top: 7rem;
    }
  }

  .header__bottom {
    &-items {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  //main
  .main{
    .main__bottom{
      .main__bottom-h1{
        font-size: 45px;
      }
    }
  }

  //events
  .events {
    .container{
      .events__view-all{
        flex-direction: column;
        
      }
      .bw{
        max-width: calc(100%);
      }
    }
  }
}

// $xs: 425px;
@media (max-width: $xs) {
  //header
  .header__main{
    .main-left-title-text{
      font-size: 35px;
    }
  }


  //main
  .main{
    // max-width: 320px;
      .svg1{
        display: none;
      }
      .svg2{
        display: none;
      }
       
    .main__top{
      max-width: 320px;
      picture{
        max-width: 320px;
      }
      &-desc-h2{
        font-size: 20px;
      }
      &-desc-h1{
        font-size: 35px;
      }
    }
    .main__middle{
      max-width: 320px;
      &-top-titles{
        margin-bottom: 2rem;
        .main__middle-top-h1{
          font-size: 35px;
        }
      }
      .card{
        display: flex;
        flex-direction: column;
      }
    }
    .main__bottom{
      .main__bottom-h1{
        font-size: 33px;
      }
      .main__bottom-tabs{
        grid-template-columns: repeat(1,1fr);
      }
    }
  }
  .container{
    max-width: 320px;
  }
}