.certificate {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    align-items: start;

    .certificate__desc {
        max-width: 398px;
        &-h2 {
            @extend %h2;
            margin-bottom: 8px;
        }
        &-h1{
            @extend %h1;
            margin-bottom: 58px;
        }
        &-text {
            @extend %desc;
            color: $grey800;
            margin-bottom: 32px;
        }
        &-logos {
            display: flex;
            justify-content: space-between;
        }
    }

    &__img{
        max-width: 705px;
        border: 1px solid #E5E8ED;
        box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
        border-radius: 4px;

        position: relative;
        z-index: 10;
    }
}


