/*---main-colors---*/
$white: rgb(255, 255, 255, 1);
$black: rgb(0, 0, 0);
$red: rgb(255, 0, 0);
$btn-primary: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
$burger:#F75E05;

/*---header---*/
$header-menu: #424551;

$grey900: #1E212C;
$grey800: #424551;
$grey700: #787A80;
$gray600: #9A9CA5;
$gray200: #F4F5F7;
$badge-mk: #03CEA4;
$badge-mn:#5A87FC;
$badge-hr: #F89828;
$badge-design: #F52F6E;
$primary: #FF3F3A;

$price: #ff4242;
$border-card: #E5E8ED;