@import './extend';

.footer {
    background-color: $grey900;
    padding-top: 80px;
    
    .container{

        .footer__top{
            display: grid;
            // grid-template-columns: repeat(5,1fr);
            grid-template-columns: 279px 80px 110px 157px 286px;
            gap: 79px;

            .footer__top-col{
                position: relative;

                .logo{
                    margin-bottom: 1.7rem;
                }
                
                .col-text {
                    margin-bottom: 2.7rem;

                    .col-text__p{
                        color: $white;
                        opacity: .6;

                        font-weight: 400;
                        font-size: 12px;
                        line-height: 150%;

                        
                    }
                }

                .social{
                    display: flex;
                    justify-content: space-between;
                    height: 24px;
                    transition: .2s ease-in;

                    margin-bottom: 60px;

                    %svg{
                        cursor: pointer;

                        &:hover{
                            svg{
                                g{
                                    transition: .2s ease-in;
                                    opacity:1;
                                }
                            }
                        }
                    }

                    .face {
                        @extend %svg;
                    }
                    .twit {
                        @extend %svg;
                    }
                    .yt {
                        @extend %svg;
                    }
                    .tg {
                        @extend %svg;
                    }
                    .inst {
                        @extend %svg;
                    }
                    .in {
                        @extend %svg;
                    }
                }
                
                .col-title{
                    text-transform: uppercase;
                    color: $white;

                    font-weight: 700;
                    font-size: 16px;
                    line-height: 150%;

                    margin-bottom: .85rem;
                }

                .col-input{
                    background-color: rgb(255, 255, 255, .12);
                    color: $white;
                    border-radius: 4px;
                    width: 100%;
                    padding: .64rem .855rem;
                    padding-right: 2.5rem;
                    position: relative;
                    margin-bottom: 1.5rem;
                }

                .col-input-svg{
                    position: absolute;
                    right: -0.5rem;
                    top: 2.7rem;
                    cursor: pointer;
                    height: 36px;
                    

                    &:hover{
                        // right: 2rem;
                    }
                }

                .col-text__p{
                    color: $white;
                    opacity: .6;

                    font-weight: 400;
                    font-size: 12px;
                    line-height: 150%;
                }

                .col-lists{

                    .col-list{
                        margin-bottom: .25rem;

                        .col-btn{
                            color: $white;
                            opacity: .6;

                            border: none;
                            background-color: transparent;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 160%;
                            transition: .2s ease-in;

                            &:hover{
                                opacity: 1;
                                transition: .2s ease-in;
                            }
                        }

                        .col-link{
                            color: $white;
                            opacity: .6;

                            font-weight: 400;
                            font-size: 16px;
                            line-height: 160%;

                            display: flex;
                            justify-content: left;
                            align-items: center;
                            
                            gap: .5rem;
                            padding-top: 6px;
                            margin-bottom: 7px;
                            transition: .2s ease-in;

                            &:hover{
                                opacity: 1;
                                transition: .2s ease-in;
                            }
                        }
                    }
                }
            
            }
        }

    }

    .footer__bottom{
        background-color: rgb(255, 255, 255, .05);
        color: $white;

        .container{

            .footer__bottom-box{
                display: flex;
                justify-content: space-between;

                .copyright{
                    display: flex;
                    color: rgb(255, 255, 255, .6);
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 150%;
                    padding-top: 20px ;
                    padding-bottom: 20px ;
    
                    .copyright__text-1{
                        margin-right: 4px;
                    }
    
                    .copyright__text-2{
                        margin-left: 4px;
                    }
                }
    
                .footer__bottom-btn{
                    text-transform: uppercase;
                    background-color: transparent;
                    color: rgb(255, 255, 255, .6);
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 150%;
                }

            }

            
        }
    }
}

