/*---header-----------------*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
// @import './fonts';
@import 'block/colors';
// @import './size';
// @import './btn-primary';
// @import './container';
@import 'block/extend';
@import 'block/header-top';
@import 'block/breakpoints';

body {
    font-family: 'Lato', sans-serif;
    font-size: $fz-body;
    font-style: normal;
    line-height: 1.5;

}

.header {
    background: url(../img/header-bg.jpg);
    max-width: $max-width;
    margin: 0 auto;
    // height: 100vh;
}

.header__main {
    @extend %display-flex;
    padding-top: 128px;
    max-width: $max-width;
    margin: 0 auto;
    // padding-bottom: 189px;
    // margin-bottom: 189px;

    &-left {

        .play-video {
            @extend %display-flex;
            max-width: 175px;
            align-items: center;
            font-weight: 700;
            font-size: 14px;
            line-height: 150%;
            // height: 84px;
            margin-bottom: 24px;
            transition: all 1s;

            &:hover {
                opacity: 0.6;
                cursor: pointer;
            }

        }

        .main-left-title {
            max-width: 496px;
            font-weight: 900;
            font-size: 64px;
            line-height: 130%;
            color: #1E212C;
            margin-bottom: 60px;
            // background-color: #335ae7;
        }

        .main-left-btns {
            max-width: 377px;

            .main-left-btn {
                background-color: transparent;
                border: 1px solid rgba(255, 63, 58, 1);
                // border: 1px solid;
                // border-image-source: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
                color: rgba(255, 63, 58, 1);
                border-radius: 4px;
                padding: 0px 40px;
                width: 148px;
                height: 52px;
                margin-right: 24px;
                transition: all 1s;

                &:hover {
                    opacity: 0.6;
                    cursor: pointer;
                }
            }

            .main-left-btn-primary {
                width: 200px;
            }
        }



    }

    // &-right {}

}

.header__bottom {

    max-width: $header__bottom;
    padding-top: 189px;
    padding-bottom: 80px;

    &-items {
        @extend %display-flex;
        margin: 0 auto;


        .header__bottom-item {
            @extend %display-flex;
            align-items: center;
            position: relative;

            font-weight: 400;
            font-size: 16px;
            line-height: 160%;

            // &:nth-last-child(1) {
            //     margin-right: 0;
            // }

            &:nth-child(n + 2):nth-child(-n + 4) {

                &::before {
                    content: '';
                    position: absolute;
                    left: -66px;
                    width: 8px;
                    height: 8px;
                    background-image: url(../img/header-ellipse.svg);
                }
            }

            &-num {
                font-weight: 900;
                font-size: 46px;
                line-height: 130%;
                margin-right: 12px;
                color: #1E212C;



                // &::before {
                //     content: '';
                //     position: absolute;
                //     width: 8px;
                //     height: 8px;
                //     background-image: url(../img/header-ellipse.svg);
                // }
            }
        }
    }
}