// @import './btn-primary';
.index-blog {
    display: flex;
    max-width: $max-width;

    .container {

        .index-blog__top {
            @extend %display-flex;
            align-items: end;
            margin-bottom: 60px;

            &-h2 {
                @extend %h2;
            }
            &-h1 {
                @extend %h1;
            }
            &-btn {
                padding: 0 3.3rem;
            }
        }

        .blog-line{
            max-width: $container-width;
            gap: 2rem;
            display: flex;

            .index-blog__card {
                max-width: 390px;
                // position: relative;
    
                .blog-top-svg {
                    position: absolute;
                    top: 0.9rem;
                    left: 0.9rem;
                }
    
                .blog-top {
                    margin-bottom: 1.14rem;
                }

                .blog-desc {
                    margin-bottom: 1.14rem;

                    .meta {
                        display: flex;
                        align-items: center;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 150%;
                        color: $grey700;
                        margin-bottom: 1rem;

                        p{
                            display: flex;
                            svg{
                                margin-right: .57rem;
                            }
                        }

                        p:first-child, p:nth-child(2), p:nth-child(3), p:nth-child(4){
                            margin-right: 0.86rem;
                        }
                    }
                    .blog-title {
                        color: $grey900;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 150%;
                    }
                    .blog-text {
                        color: $grey800;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 160%;
                    }
                }
                .blog-link {
                    display: flex;
                    align-items: center;
                    color: $grey900;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 160%;
                    margin-bottom: 12.85rem;
                    gap: .5rem;
                    a{
                        padding-top: .5rem;

                    }
                }
            }

        }

    }
}

.block-1{
    position: relative;
}
.block-2{
    position: relative;
}
.block-3{
    position: relative;
}









