// @import 'block/container';
@import 'block/extend';

.svg1 {
    position: absolute;
    left: 15px;
    top: 190px;
    z-index: -10;
}

.svg2 {
    position: absolute;
    right: 15px;
    top: 450px;
    z-index: -10;
}

.main {
    max-width: $max-width;
    @extend %display-flex;
    margin: 0 auto;
    position: relative;
    // padding: 0 15px;

    // .main__top-bg{
    //     position: absolute;
    //     border: 1px solid #000;
    // }

    // main__top
    &__top {
        @extend %display-flex;
        margin: 180px auto;
        gap: 135px;

        // picture{
        // position: absolute;
        // left: 0;

        // }

        &-svg2 {
            position: absolute;
            right: 0;
        }

        &-img {
            max-width: 705px;
        }

        &-desc {
            max-width: 390px;

            &-h2 {
                @extend %h2;
                margin-bottom: 8px;
            }

            &-h1 {
                @extend %h1;
                margin-bottom: 40px;
            }

            .main__top-desc-items {
                // @extend %display-flex;
                // display: flex;
                // justify-content: start;
                // align-items:flex-start;
                // background-color: red;
                margin-bottom: 22px;
            }

            .main__top-desc-item {
                z-index: 9;
                display: flex;
                padding-left: 1px;
                align-items: flex-start;
                position: relative;
                padding-left: 16px *2;
                @extend %desc;

                &:before {
                    position: absolute;
                    left: 0;
                    top: 0;
                    content: '';
                    width: 16px;
                    height: 16px;
                    display: flex;
                    margin-top: 5px;
                    background: url(/img/main-top-check.svg) no-repeat;
                }
            }
        }
    }

    // main__middle 
    .main__middle {
        margin-bottom: 180px;

        &-top {
            @extend %display-flex;
            align-items: flex-end;
            margin-bottom: 60px;

            &-h2 {
                @extend %h2;
            }

            &-h1 {
                @extend %h1;
            }

            &-btn {
                @extend %viewAll;
            }
        }

        &-grid {
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(2, 1fr);
            @import 'block/cards';
        }
    }

    // main__bottom 
    .main__bottom {

        &-h2 {
            text-align: center;
            @extend %h2;
        }

        &-h1 {
            text-align: center;
            @extend %h1;
            margin-bottom: 60px;
        }

        &-tabs {
            // @extend %display-flex;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            color: $gray600;
            font-weight: 700;
            font-size: 16px;
            line-height: 160%;
            margin-bottom: 60px;


            .main__bottom-tab {
                max-width: 307px;
                padding: 10px 0;
                display: flex;
                justify-content: center;
                gap: .5rem;
                align-items: center;
                align-content: center;

                &:hover {
                    color: $burger;
                    border: 1px solid $burger;
                }
            }

            .main__bottom-tab.active {
                color: $burger;
                border: 1px solid $burger;

                .active-svg {}
            }
        }

        &-desc {
            @extend %display-flex;
            margin-bottom: 120px;

            &-box {
                display: flex;
                justify-content: center;
                flex-direction: column;

                &-title {
                    color: $grey900;
                    font-weight: 900;
                    font-size: 32px;
                    line-height: 130%;
                    margin-bottom: 24px;
                }

                &-text {
                    max-width: 488px;
                    @extend %desc;
                }
            }


        }
    }

}