/*---main-size---*/
$max-width: 1920px;
$container-width: 1230px;
$lg:1300px;
$lg2:1024px;
$md:900px;
$md:768px;
$xs:425px;

/*---body---*/
$fz-lg-max: 46px;
$fz-body: 22px;
$fz-lg: 18px;
$fz16: 16px;
$fz-lg-item: 14px;
$fz-lg2-item: 11px;

/*---header---*/
$header__profile: 386px;
$header__bottom: 1163px;
// $header__bottom: 1229px;