.subscribe {
    text-align: center;
    background-image: url(../../img/sub-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: center;

    padding-top: 120px;

    .container {

        .subscribe__title {
            margin-bottom: 60px;

            &-h2 {
                @extend %h2;
            }
            &-h1 {
                @extend %h1;
            }
        }

        .subscribe__form{
            padding-bottom: 180px;

            margin: 0 auto;
            width: 49%;
            
            // .subscribe__label{
            //     max-width: 600px;
                
                .subscribe__text{
                    max-width: 422px;
                    padding: 1.28rem ;
                    padding-left: 1.14rem;
                    padding-right: 18rem;
                    margin-right: 1.7rem;
                    border-radius: 4px;
                }
    
                .subscribe__submit{
                    padding: 0 3.41rem;
                }

            // }

        }

    }
}
