.testimonails {
    background-color: $gray200;
    align-items: center;
    transform: translateY(-4rem);

    .container{

        .testimonails__top {
            position:relative;
            text-align: center;
    
            .circlesTop-svg {
                position: absolute;
                top: 0;
                left: -140px;
            }
            
            .testimonails__title {
                &-h2 {
                    @extend %h2;
                }
                &-h1 {
                    @extend %h1;
                }
            }
            
        }

        .circlesBottom-svg {
                position: absolute;
                bottom: 0;
                right: 0;
            }

        .btns-test {
            // border: 1px solid #000;
            position: relative;
            top: 12rem;
            display: flex;
            justify-content: space-between;

            .prev-test {
                // transition: .2s ease-in;
                width: 48px;
                height: 48px;

                &:hover{
                    // transition: .1s ease-in;
                    transform: rotate(180deg);
                    width: 48px;
                    height: 48px;
                    background: url(../../img/arrowRightHover.svg);
                }

                &:hover img{
                    opacity: 0;
                }

            }
            .next-test {
                width: 48px;
                height: 48px;
                &:hover img{
                    opacity: 0;
                }
                &:hover{
                    // transition: .1s ease-in;
                    
                    width: 48px;
                    height: 48px;
                    background: url(../../img/arrowRightHover.svg);
                }
            }
        }
    
        .testimonails__slider {
            background-color: $white;
            max-width: $lg2;
            height: 344px;
            margin: 0 auto;
            position: relative;
            overflow: hidden;

            &-line {
                display: flex;
                position: absolute;

                .testimonails__card {
                    position: relative;
                    width: 1024px;
                    height: 344px;
                    padding: 64px 105px;

                    .testimonails__slider-desc {
                        display: flex;
                        flex-direction: column;
                        padding-left: 58px;
                        position: relative;

                        @extend %desc;


                        .braces {
                            position: absolute;
                            top: 0;
                            left: 0;
                        }

                        .mini-card {
                            display: flex;
                            margin-top: 24px;
                            align-items: center;
    
                            .mini-card__info{
                                position: relative;
                                left: 1rem;
                                .speaker {
                                    color: $grey900;
                                    font-weight: 700;
                                    font-size: 16px;
                                    line-height: 160%;
                                }
                                .position {
                                    color: $grey700;
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 150%;
                                }
                            }
                            
                        }
                    }
                }
        
                
            }
        }

        .dots {
            display: flex;
            gap: 12px;
            justify-content: center;
            margin-top: 60px;
            padding-bottom: 93px;

            // .dot {

            // }
            .active-dot {
                svg{
                    line{
                        stroke: #424551;
                    }
                    
                }
                
            }
        }

    }
}






